version: '3'

services:
  # Cerebro Elasticsearch management
  cerebro:
    image: yannart/cerebro:latest
    ports:
      - "9000:9000"
    restart: unless-stopped

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:{{ stack_version }}
    container_name: elasticsearch
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    ports:
      - {{ es_port }}:9200
    restart: always
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
    restart: unless-stopped
    
  kibana:
    depends_on:
      - elasticsearch
    image: docker.elastic.co/kibana/kibana:{{ stack_version }}
    container_name: kibana
    volumes:
      - kibana-data:/usr/share/kibana/data
    ports:
     - {{ kibana_port }}:5601
    restart: always
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    restart: unless-stopped

  logging-nginx: 
    container_name: logging-nginx
    image: nginx:{{ docker_nginx_version }}
    environment:
      - TZ=Europe/Zagreb
    ports:
      - 80:80/tcp
      - 443:443/tcp
    volumes:
      - /root/logging/nginx/nginx.conf:/etc/nginx/nginx.conf
      - /root/logging/nginx/ssl:/etc/nginx/ssl/
    mem_limit: 512m
    restart: always

volumes:
elasticsearch-data:
  driver: local
kibana-data:
  driver: local
