version: '2.2'

services:
  filebeat:
    container_name: filebeat
    image: docker.elastic.co/beats/filebeat:{{ elk_version }}
    user: root
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/log/docker/:/var/log/docker
      - /var/log/syslog:/var/log/syslog:ro
      - /var/log/auth.log:/var/log/auth.log:ro
      - /var/containers/logging/filebeat/config/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - /var/containers/logging/filebeat/data:/usr/share/filebeat/data
      - {{ volume_certs }}:/usr/share/filebeat/certs:ro
      - /etc/hostname:/etc/hostname:ro
    restart: always
