{% for server in groups['logging_cluster'] %}
{{hostvars[server]['ansible_facts']['default_ipv4']['address']}} {{hostvars[server]['ansible_facts']['hostname']}} {{hostvars[server]['ansible_facts']['hostname']}}.{{int_domain_name}}
{% endfor %}
